footer {
  position: relative;
  height: 560px;
  width: 100%;
  background-color: #232536;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-nav-ul {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

.footer-mid {
  height: 256px;
  width: 100%;
  background-color: #2e3040;
  display: flex;
  align-items: center;
}

.footer-mid-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-mid-h2 {
  width: 562px;
  color: white;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

.footer-bottom {
  color: #bdbdc2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-p {
  font-size: 16px;
  line-height: 28px;
}

.footer-bottom-icons {
  display: flex;
  align-items: center;
  gap: 27px;
  font-size: 16px;
  color: #6d6e76;
}
