.main-about-us {
  position: relative;
  top: 64px;
  left: 7%;/*left: 110px;*/
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 1133px;
  z-index: 100;
}
.main-about-us-title {
  min-width: 560px;
  height: 292px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #232536;
  padding: 64px;
  gap: 25px;
}

.main-about-us-title-span {
  font-size: 16px;
  font-weight: medium;
  line-height: 20px;
  letter-spacing: 3px;
}

.main-about-us-title-h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: bold;
}

.main-about-us-text {
  font-size: 16px;
  line-height: 28px;
  color: #4c4c4c;
}

.main-about-us-photo {
  max-width: 100%;
  height: 444px;
  position: relative;
}

.main-about-us-photo-img {
  height: inherit;
  width: 100%;
}

.main-about-us-photo-shapes {
  position: absolute;
  bottom: 0;
  left: 7%;/*left: 109px;*/
}

.main-about-us-photo-rectangle {
  width: 630px;
  background-color: #FFD050;
  padding: 38px 48px;
  display: flex;
  justify-content: space-between;
}

.main-about-us-photo-rectangle-item {
  display: flex;
  flex-direction: column;
}

.main-about-us-photo-rectangle-item-title {
  font-size: 56px;
  font-weight: bold;
  line-height: 64px;
  letter-spacing: -2px;
}

.main-about-us-photo-rectangle-item-span {
  font-size: 16px;
  line-height: 28px;
}

.main-about-us-photo-line {
  width: 861.48px;
  height: 23px;
  display: flex;
}

.main-about-us-photo-purple-line {
  width: 311.48px;
  height: inherit;
  background-color: #592EA9;
}

.main-about-us-photo-yellow-line {
  width: 550px;
  height: inherit;
  background-color: #FFD050;
}

.main-our-mission {
  max-width: 100%;
  padding: 128px 108px 64px 108px;
  background-color: #F4F0F8;
  display: flex;
  justify-content: center;
  gap: 36px;
}

.main-our-mission-item {
  width: 516px;
  height: 249px;
}

.main-our-mission-item-span {
  color: #232536;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
}

.main-our-mission-item-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1px;
}

.main-our-mission-item-p {
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}