h1, div {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B2B2B;
    color: #ffff;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    gap: 172px;
    overflow-y: scroll;
}

.content {
    min-width: 1050px;
    width: 1050px;
}

/* Menu */
    .menu {
        width: 95vw;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }

    .menu-site-title {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .menu-site-title-icon {
        width: 32px;
        height: 32px;
    }

    .menu-site-title-name {
        width: 199px;
        height: 20px;
    }

    .menu-site-links {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .menu-site-links-item {
        font-size: 16px;
        font-weight: 500;
        padding: 0 20px 0 20px;
    }

    .menu-site-links-signin-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: #A259FF;
        width: 152px;
        height: 60px;
        border-radius: 20px;
    }

/* Welcome Page */
    .welcome-page {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .welcome-page-left {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .welcome-page-left-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .welcome-page-left-h1 {
        font-size: 67px;
        font-weight: 550;
        line-height: 110%;
    }

    .welcome-page-left-span {
        font-size: 22px;
        font-weight: 300;
    }

    .welcome-page-left-start-button {
        background-color: #A259FF;
        width: 224px;
        height: 60px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .welcome-page-left-start-button-icon {
        width: 20px;
        height: 20px;
    }

    .welcome-page-left-start-button-span {
        font-size: 16px;
        font-weight: 550;
    }

    .welcome-page-left-stats {
        display: flex;
        gap: 30px;
    }

    .welcome-page-left-stats-item {
        display: flex;
        flex-direction: column;
    }

    .welcome-page-left-stats-item-h1 {
        font-family: "Space Mono", serif;
        font-size: 28px;
        font-weight: 550;
    }

    .welcome-page-left-stats-item-span {
        font-size: 20px;
        font-weight: 250;
    }

    .welcome-page-right {
        display: flex;
        flex-direction: column;
    }

    .welcome-page-right-text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #3B3B3B;
        border-radius: 0 0 20px 20px;
    }

    .welcome-page-right-text-h1 {
        font-size: 22px;
        font-weight: 550;
    }

    .welcome-page-right-text-user {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .welcome-page-right-text-user-avatar {
        width: 24px;
        height: 24px;
    }

    .welcome-page-right-text-user-name {
        font-size: 16px;
        font-weight: 250;
    }

/* Trending Content */
    .trending {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 43px;
    }

    .trending-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .trending-title-h1 {
        font-weight: 500;
        font-size: 38px;
    }

    .trending-title-span {
        font-weight: 200;
        font-size: 22px;
    }

    .trending-content {
        display: flex;
        justify-content: space-between;
    }

    .trending-content-item {
        width: 330px;
        height: 525px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .trending-content-item-imgs {
        display: grid;
        grid-template: 1fr 100px / 100px 100px 100px;
        gap: 15px;
    }

    .trending-img-big {
        grid-area: 1 / 1 / 1 / 4;
        order: 1;
    }

    .trending-content-item-imgs-more {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A259FF;
        border-radius: 20px;
    }

    .trending-content-item-imgs-more-text {
        font-family: "Space Mono", serif;
        font-weight: bold;
        font-size: 22px;
    }

    .trending-content-item-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .trending-content-item-text-name {
        font-size: 22px;
        font-weight: 500;
    }

    .trending-content-item-text-user {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .trending-content-item-text-user-username {
        font-weight: 200;
        font-size: 16px;
    }

/* Top Sales Section */ 
    .top-sales {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .top-sales-header {
        width: inherit;
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }

    .top-sales-header-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .top-sales-header-h1 {
        font-size: 38px;
        font-weight: 500;
    }

    .top-sales-header-span {
        font-size: 22px;
        font-weight: 200;
    }

    .top-sales-header-button {
        align-self: flex-end;
        display: flex;
        height: 60px;
        width: 247px;
        border: 2px solid #A259FF;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .top-sales-header-button-text {
        font-size: 16px;
        font-weight: 500;
    }

    .top-sales-grid {
        display: grid;
        grid-template: repeat(3, 240px) / repeat(4, 238px);
        gap: 30px;
    }

    .top-sales-grid-item {
        background-color: #3B3B3B;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px;
    }

    .top-sales-grid-item-top {
        width: inherit;
        display: flex;
        justify-content: space-between;
    }
    .top-sales-grid-item-number {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #2B2B2B;
        color: #858584
    }

    .top-sales-grid-item-avatar {
        width: 120px;
        height: 120px;
    }

    .top-sales-grid-item-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .top-sales-grid-item-h1 {
        font-size: 22px;
        font-weight: 550;
    }

    .top-sales-grid-item-span {
        color: #858584;
        font-size: 16px;
        font-weight: 350;
    }

    .top-sales-grid-item-span-var {
        color: #ffff;
        font-family: "Space Mono", serif;
        font-size: 16px;
        font-weight: 200;
    }

