* {
	padding: 0;
	margin: 0;
	border: none;
	background-color: white;
	transition: all 0.2s ease-in-out;
}

.fa {
	background-color: transparent;
}

body {
	text-align: left;
}

.title {
	margin: 20px 0 0 20px;
	font-size: 48px;
}

.date-selection {
	margin: 20px;
	display: flex;
}

.date-selection-ul {
	display: flex;
	list-style: none;
	gap: 20px;
}

.date-selection-li > button {
	cursor: pointer;
	padding: 20px 40px;
	background-color: #dadada;
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
}

.date-selection-li > button:hover,
.date-selection-li > button:active {
	background-color: #969696;
}

.tasks {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	gap: 20px;
}

.tasks-item {
	padding: 10px 20px;
	width: 800px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: left;
}

.tasks-item-summary {
	display: flex;
	justify-content: space-between;
}

details[open] {
	.fa-caret-right {
		rotate: 90deg;
	}
	summary {
		border-bottom: 1px solid black;
		margin-bottom: 10px;
	}
}

.tasks-item-title {
	display: flex;
	gap: 20px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.tasks-item-buttons {
	display: flex;
	gap: 5px;
	align-items: center;
}

.tasks-item-buttons > button {
	font-size: 24px;
	cursor: pointer;
}

.tasks-item-buttons > button:active {
	color: #969696;
}

.tasks-item-buttons > button:hover {
	color: #969696;
}

.tasks-item-buttons-done {
	width: 24px;
	height: 24px;
	margin: 4px;
	cursor: pointer;
}

.tasks-item-dates {
	display: flex;
	gap: 25px;
	font-size: 20px;
	margin-bottom: 20px;
}

.tasks-item-comments {
	text-align: left;
	padding-left: 20px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 20px;
}

.tasks-item-dates-update-date {
	font-size: 20px;
	margin-bottom: 20px;
}

.create-new-task {
	margin: 20px;
	cursor: pointer;
	padding: 20px 40px;
	background-color: #dadada;
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
}

.create-new-task:hover {
	background-color: #969696;
}

.create-new-task:active {
	background-color: #969696;
}

.create-task {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 350px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	border-radius: 20px;
	padding: 20px;
	position: relative;
}

.create-task::backdrop {
	background-color: rgba(167, 167, 167, 0.493);
}

.create-task-form {
	background-color: transparent;
	width: 350px;
}

#create-task-close-modal {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 25px;
	right: 20px;
	top: 20px;
	transition: all 0.2s ease-in-out;
}

#create-task-close-modal:active,
#create-task-close-modal:hover {
	color: rgb(151, 151, 151);
}

#create-task-title-name {
	background-color: transparent;
	color: white;
	margin-top: 30px;
	display: block;
	font-size: 20px;
}

#create-task-title-input {
	margin-top: 2px;
	padding: 6px 5px;
	border: 1px solid rgb(58, 58, 58);
	border-radius: 5px;
	width: calc(350px - 10px);
	max-width: 350px;
	background-color: #4d4d4d67;
	color: white;
	letter-spacing: 1px;
}
